

script(src='/bower_components/jquery/dist/jquery.min.js')

script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
link(href='/bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
//- <script src="js/bootstrap.min.js"></script>
//- <link href="css/bootstrap.min.css" rel="stylesheet">
