doctype html
html
  head
    include ./includes/bower_header.jade
    
    block title
      title Final Project
      
    body 
      .container
      
      .container
        .well
          block content
      
      
