extends ./layout.jade

block title
  title Login
  

  h1 Login 
  
  form
  
      .form-group
        label.control-label User Name
        input.form-control

      .form-group
        label.control-label Password
        input.form-control
  
        button.btn.btn-default(type="submit") Login
