extends ./layout.jade

block title
  title Login
  

  h1 Login 
  
  form(name="login", method="post")
  
      .form-group
        label.control-label User Name
        input.form-control(type="text", name="userName")

      .form-group
        label.control-label Password
        input.form-control(type="password" name="password")
  
        button.btn.btn-default(type="submit") Login
