extends ./layout.jade

block title
  title Register
  

  h1 Register
  
  form
  
      .form-group
        label.control-label First Name
        input.form-control

      .form-group
        label.control-label Last Name
        input.form-control
  
      .form-group
          label.control-label User Name
          input.form-control
          
      .form-group
          label.control-label User Email
          input.form-control
